html {
  font-family: system-ui;
  font-size: 100%;
}

.canvas {
  display: grid;
  place-items: center;
  min-height: 100vh;
  cursor: pointer;
}

.canvas span {
  --size: 300px;

  display: block;
  background: transparent;
  border-radius: 100%;
  margin: 0;
  width: var(--size);
  height: var(--size);
  background: radial-gradient(circle at calc(var(--size) / 3) calc(var(--size) / 3), transparent, #d91ca861);
}
